@model List<CollectionModel>

@{
    ViewData["Title"] = "Collections";

}

<a style="margin-bottom:5px;" class="btn btn-primary" asp-area="" asp-controller="Collection" asp-action="CreateCollection">Create a new wonderful collection</a>

<div class="container">

    <div class="row">
        @foreach (var n in Model)
        { 
             
            <div style="border:5px solid black; border-radius: 10px; margin:0 auto 20px;  text-align:center" class="col-5">

                <div>
                    <input type="hidden" asp-for="@n.Id" class="form-control" id="Id">
                </div>
                  
                <div>
                    <label asp-for="@n.Description" class="form-label">Description: </label>
                    <label asp-for="@n.Description" class="form-label">@n.Description</label>
                </div>

                  
                <a style="margin-bottom:5px; width:150px" class="btn btn-primary" asp-area="" asp-controller="User" asp-action="DeleteCollection" asp-route-id="@n.Id">Delete</a> <br />
            </div>

        }
    </div>

</div>