@model UserModel

@{
    ViewData["Title"] = "User";
}
<div>
    <h1>User</h1>

    <div style= "border:solid 1px; margin-bottom:20px " class ="vaccination-preview">

         <div class="mb-3">
            <input type="hidden" asp-for="Id" class="form-control" id="Id">
        </div>

        <div class="mb-3">
            <label asp-for="FullName" class="form-label">FullName</label><br />
            <label asp-for = "FullName" class = "form-label">@Model.FullName</label>

        </div>
        <div class="mb-3">
            <label asp-for="Birthday" class="form-label">Birthday</label><br />
            <label asp-for="Birthday" class="form-label">@Model.Birthday.ToString("yyyy-MM-dd")</label>

        </div>
        <div class="mb-3">
            <label asp-for="Location" class="form-label">Location</label><br />
            <label asp-for="Location" class="form-label">@Model.Location</label>
        </div>
        <div class="mb-3">
            <label asp-for="AccountEmail" class="form-label">AccountEmail</label><br />
            <label asp-for="AccountEmail" class="form-label">@Model.AccountEmail</label>
        </div>
         
       <a style="margin-bottom:5px" class="btn btn-primary" asp-area="" asp-controller="User" asp-action="EditUsers" asp-route-id = "@Model.Id" >Edit</a> <br /> 
         
          </div> 

</div>