@model List<CollectionModel>

@{
     

}

<h3>Top five begest collections</h3>
<div class="container">

    <div class="row">
        @foreach (var n in Model)
        {

                <div style="border:5px solid black; border-radius: 10px; margin:0 auto 20px; display:flex; justify-content:space-between; flex-direction:column; " class="col-5">

                    <div>
                        <input type="hidden" asp-for="@n.Id" class="form-control" id="Id">
                    </div>

                    <div>
                        <label asp-for="@n.CollectionName" class="form-label"><strong>Collection name: </strong></label>
                        <label asp-for="@n.CollectionName" class="form-label"><strong>@n.CollectionName</strong></label>
                    </div>

                    <div>
                        <label asp-for="@n.Description" class="form-label">Description: </label> 
                        <label asp-for="@n.Description" class="form-label">@n.Description</label>
                    </div>


                    <a style="margin:5px auto; width:250px; " class="btn btn-primary" asp-area="" asp-controller="Item" asp-action="ItemsViewForAnonymous" asp-route-id="@n.Id">Check items</a> <br />

                </div>

        }
    </div>

</div>

<div id="lastItems">

</div>



<script src="~/js/LastCreatedItems.js" asp-append-version="true"></script>